/* =========================
   Global Styles
   ========================= */

body {
  background-color: #f4f4f4;
  font-family: "Helvetica Neue", sans-serif;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 100%;
  margin: auto;
}

.list-group-item {
  border: none;
  background-color: #f4f4f4;
}

.list-group-item:first-child {
  border-top: 1px solid #ddd;
}

.list-group-item:last-child {
  border-bottom: 1px solid #ddd;
}

.hermano-caption {
  color: #663819;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hermano-info h3 {
  color: #663819;
  margin-bottom: 1rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  border: 0;
}

h2.text-center {
  font-size: 2rem;
  font-weight: bold;
}

h3.text-center {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.join-date {
  font-size: 1.2rem;
  text-align: center; /* Align the season to the center */
  color: #653819;
  margin-top: 1rem; /* A little space after the name */
}

/* =========================
   Hero Section 
   ========================= */

.hero-section {
  height: 90vh;
  background-color: #f7f7f7; /* Matched with the definition section background */
}

.definition-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 0 5% 0 10%;
}

.definition-content {
  text-align: center;
}

.main-title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-family: Stellar;
  color: #eeaa00;
}

.pronunciation {
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #653819;
}

.definition {
  font-size: 1.7rem;
  font-family: Helvetica;
  color: #653819;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 5%;
  overflow: hidden;
  height: 100%;
}

.hero-image {
  max-width: 100%;
  max-height: 90%;
  display: block;
  object-fit: cover;
}

/* =========================
   Undegraduate Section 
   ========================= */

h2.centered-title {
  font-family: Stellar;
  font-size: 4.5rem;
  padding: 30px;
  color: #653819;
}

.undergrad-circle {
  width: 450px;
  height: 450px;
  margin: 1rem auto;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #653819;
  overflow: hidden;
}

.undergrad-circle img {
  width: 100%; /* Increased the width and height to make the image larger */
  height: 100%;
  object-fit: cover;
}

.undergrad-name {
  font-size: 1.5rem;
  text-align: center;
  color: #cc0000;
  font-weight: 600;
  margin-top: 20px; /* Added some margin to push the text down */
}

.join-date {
  font-size: 1.2rem;
  text-align: center;
  color: #653819;
  margin-top: 0.5rem;
}

/* =========================
   Hermano History Section 
   ========================= */

.history-title {
  font-family: Stellar;
  font-size: 4.5rem;
  padding: 30px;
  color: #653819;
}

.hermano-card {
  position: relative;
  margin-bottom: 30px;
}

.hermano-card-body {
  padding: 1rem;
}

.line-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem; /* Adjust as needed to control spacing between shield and title */
}

.shield-img {
  width: 100px; /* Adjust as needed to control size */
  height: 100px; /* Adjust as needed to control size */
  object-fit: cover;
  margin-right: 15px;
}

.line-number {
  font-size: 16px;
  color: #555;
}

.line-title {
  font-weight: 600;
  color: #653819;
  border-bottom: 2px solid #eeaa00; /* Optional: A sleek line below the title */
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.line-title-section {
  display: flex;
  flex-direction: column;
}

.line-name {
  font-size: 1.3rem;
  color: #cc0000;
  margin-top: 0.5rem;
}

.hermano-list {
  list-style: none; /* Removes default bullet points */
  padding: 0;
}

.hermano-list li {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: #653819;
}

/* =========================
   Common Card Styles 
   ========================= */

/* .card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 2em;
} */

.card {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
}

.card:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #653819;
  margin: 1rem 0;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center; /* Align the name to the center */
  color: #653819;
}

/* =========================
   Responsiveness
   ========================= */

@media only screen and (max-width: 768px) {
  .main-title {
    font-size: 4rem;
  }

  .pronunciation {
    font-size: 2rem;
  }

  .undergrad-circle {
    width: 300px;
    height: 300px;
  }

  .hero-section {
    height: auto;
  }

  h2.centered-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .main-title {
    font-size: 2.5rem;
  }

  .pronunciation {
    font-size: 1.5rem;
  }

  .undergrad-circle {
    width: 200px;
    height: 200px;
  }

  .hero-section {
    padding: 1rem;
  }

  h2.centered-title {
    font-size: 2rem;
  }
}
