@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-Regular.otf');
  font-weight: 700;
}

@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-light.otf');
  font-weight: 400;
}

@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-Medium.otf');
  font-weight: 500;
}

.hero {
    width: 100%;
    height: 100%;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    opacity: .6;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}

.hero-text h1{
    font-family: Stellar, Helvetica;
    font-size: 3rem;
    font-weight: 800;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); Adjust the shadow properties as needed */
    background: #CC0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text h2{
    font-family: Stellar, Helvetica;
    font-size: 3rem;
    font-weight: 500;
    background: #CC0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p{
    font-family: Helvetica;
    font-size: 1.3rem;
    color: #CC0000;
    padding: 0.5rem 0 2rem 0;
}

.hero-button{
    background-color: #EEAA00;
    border-color: #EEAA00;
    outline: none !important;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #653819;
    border-color: ;
}