@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-Regular.otf');
  font-weight: 600;
}

@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-light.otf');
  font-weight: 400;
}

@font-face {
  font-family: Stellar;
  src: url('../../assets/fonts/Stellar-Medium.otf');
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


