@font-face {
  font-family: Stellar;
  src: url("assets/fonts/Stellar-Regular.otf");
  font-weight: 600;
}

@font-face {
  font-family: Stellar;
  src: url("assets/fonts/Stellar-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: Stellar;
  src: url("assets/fonts/Stellar-light.otf");
  font-weight: 400;
}

@font-face {
  font-family: Stellar;
  src: url("assets/fonts/Stellar-Medium.otf");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: Stellar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
